<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion Immobilière{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Gestion Immobilière</h1>
        <nav>
            <ul>
                <li><a href="{% url 'accueil' %}">Accueil</a></li>
                <li><a href="{% url 'liste_techniciens' %}">Liste des Techniciens</a></li>
                <li><a href="{% url 'ajouter_proprietaire' %}">Ajouter un Propriétaire</a></li> <!-- Corrected here -->
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
